/* create styles to be minimal for import building  */
/* App defaulted to black and white read text*/
/* Containers to be three defaulted to black and white read text*/
.App {
  text-align: center;

}
img{
width:100%;
 max-width:300px;
 height:200px; 

}
.active{
color:yellow;
}
Link {
  width:25%;
  height:800px;
  color:#ccc;

}
.Home, html{
  background: grey;

}
h1{
  background: maroon;
  color:white;
}
.Container {
  background-color: #ccc;
  width:25%;
  height:2000px;
  box-shadow: 0 3px 4px #ccc;
}
.Gallery {
  color:#000;
  padding: 100px;
  padding-left: 25%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Navigation {
  background: #222 !important;
  height: 200px;
  width:100%;
  padding: 20px;
  color: white !important;
}

.App-title {
  font-size: 1.5em;
}

.App-logo{
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
